.User-image{
    display: flex;
    margin: -20px;
    align-items: center;
    justify-content: space-around;
    margin-top: -90px;
}
#dark .User-image{
      background-color: #1a1d23f5;

}
#light .User-image{
    background-color: rgb(249, 245, 245);
}
#dark .left-image{
    background-color: #1a1d23f5;

}
#dark .right-info{
    background-color: #1a1d23f5;

}
.left-image{
    width: 500px;
    height: 500px;
}
.left-image img{
    height: 100%;
    width: 100%;
}
.right-info{
    width: 730px;
    height: 400px;
    background-image:  linear-gradient(-225deg,#d5dbe4,#f8f8f8);
    padding: 10px;
    border-radius: 10px;
}
.right-info .video-content{
    padding: 10px;
    background-color: #f8f8f8;
    width: 100%;
    box-shadow: 0 0 10px gray;
    position: relative;
    height: 160px;
    margin-top: 150px;
    border-radius: 20px;
}
.video-content p{

}
.video-content img{
    width: 40%;
    height: 140px;
    border-radius: 10px;
}